PORT=5003 DEBUG=true 
# MONGO_URI=mongodb://localhost:27017/ms-orderdb 
MONGO_URI=mongodb://mongodb:27017/ms-orderdb 
# RABBITMQ_URL=amqp://localhost:5672 
RABBITMQ_URL=amqp://rabbitmq:5672 
RABBITMQ_EXCHANGE=ecommerce.events 
RABBITMQ_EXCHANGE_TYPE=topic 
RABBITMQ_PREFETCH=10 
NODE_ENV=development 
SERVICE_NAME=order-service # for logging/queue naming